/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  background-color: #4b5a69;
}
.separation {
  width: 80%;
  margin: 0 auto;
}
.separation img {
  padding-left: 60px;
}
.quickfeatures {
  margin: 0 auto;
  width: 60%;
  margin-top: 5rem;
}
.quickfeatures h1 {
  font-size: 4rem;
  color: #47cbe6;
  font-family: 'Amatic SC', cursive;
}
.quickfeatures p {
  font-size: 1.5rem;
  font-family: 'Poiret One', cursive;
  color: #edc71c;
}
.quickfeatures .icon img {
  width: 125px;
  height: auto;
}
.quickfeatures .timefeature {
  display: flex;
  justify-content: space-around;
  margin-bottom: 3rem;
}
.quickfeatures .timeabout {
  text-align: center;
  width: 60%;
}
.quickfeatures .progressfeature {
  display: flex;
  justify-content: space-around;
  margin-bottom: 3rem;
}
.quickfeatures .progressabout {
  text-align: center;
}
.quickfeatures .memoryfeature {
  display: flex;
  justify-content: space-around;
  margin-bottom: 3rem;
}
.quickfeatures .memoryabout {
  text-align: center;
}
.testClass {
  background: #ba2545;
  background-image: url("https://www.transparenttextures.com/patterns/notebook.png");
  border-bottom-left-radius: 55rem;
  border-bottom-right-radius: 55rem;
}
.testClass #signUpButton {
  color: white;
  padding: 5px 5px;
  width: 6rem;
  background-image: linear-gradient(to right, #edc71c 0%, #e3613d 51%, #ebbd36 100%);
  border-radius: 10px;
  border: 0px;
  text-align: center;
  font-family: 'Amatic SC', cursive;
  cursor: pointer;
  font-size: 1.5rem;
  margin: 0.5rem;
}
.container {
  margin: 0 auto;
  width: 80%;
}
.container .onelinemain {
  display: flex;
  margin-top: 8rem;
  justify-content: center;
}
.container .onelinemain .mainimage {
  width: 40%;
}
.container .onelinemain img {
  width: 90%;
  height: auto;
  margin-top: 1rem;
}
.container .onelinemain .main {
  width: 40%;
  text-align: center;
}
.container .onelinemain .main h1 {
  font-family: 'Amatic SC', cursive;
  color: #ebbd36;
  font-size: 4rem;
  margin-left: 1.5rem;
}
.container .onelinemain .main p {
  font-family: 'Poiret One', cursive;
  font-size: 1.2rem;
  margin-top: 2rem;
  color: white;
}
.container .buttonDiv {
  text-align: center;
  margin-top: 1.5rem;
  padding-bottom: 5rem;
}
.container .buttonDiv #writeButton {
  color: #4b5a69;
  padding: 5px 5px;
  font-weight: bold;
  width: 30rem;
  background-image: linear-gradient(to right, #edc71c 0%, #47cbe6 31%, #47cbe6 60%, #ebbd36 100%);
  border-radius: 10px;
  text-align: center;
  border: 1px solid #47cbe6;
  font-family: 'Amatic SC', cursive;
  cursor: pointer;
  font-size: 3rem;
  margin: 0.5rem;
}
.buttonClass {
  display: flex;
  justify-content: flex-end;
}
span {
  font-size: 7rem;
  color: #47cbe6;
}
