/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.aboutContainer {
  width: 90%;
  margin: 0 auto;
}
.aboutHead {
  background: #cf0732;
  width: 90%;
  margin: 0 auto;
  background-image: url("https://www.transparenttextures.com/patterns/notebook.png");
  border-bottom-left-radius: 55rem;
  border-bottom-right-radius: 55rem;
  border-bottom: 2px solid #47cbe6;
}
.aboutHead h1 {
  color: #ebbd36;
  text-align: center;
  padding: 2rem 0 1rem 0;
  font-family: 'Amatic SC', cursive;
  font-size: 4rem;
}
.teamMembers {
  display: flex;
  width: 80%;
  margin: 0 auto;
}
.teamMembers .team {
  background-color: #ebbd36;
  margin-top: 3rem;
}
.teamMembers .team h2 {
  font-size: 1.5rem;
  font-family: 'Amatic SC', cursive;
  text-align: center;
  background: #cf0732;
}
footer {
  background-color: #cf0732;
  background-image: url(https://www.transparenttextures.com/patterns/notebook.png);
  background-position: center;
  border-top-left-radius: 40rem;
  border-top-right-radius: 40rem;
  border-top: 2px solid #edc71c;
  width: 90%;
  margin: 0 auto;
}
footer .links {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
footer .links .footerDiv {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 45%;
}
@media (max-width: 768px) {
  footer .links .footerDiv {
    margin: 0;
  }
}
footer .links button {
  color: white;
  padding: 5px 5px;
  background-image: linear-gradient(to right, #edc71c 0%, #47cbe6 31%, #47cbe6 60%, #ebbd36 100%);
  border-radius: 10px;
  text-align: center;
  border: 0px;
  font-family: 'Amatic SC', cursive;
  cursor: pointer;
  font-size: 2rem;
  margin: 0.5rem;
}
@media (max-width: 500px) {
  footer .links button {
    width: 60%;
    font-size: 1rem;
    color: black;
    margin-left: 0.5rem;
    margin-top: 1rem;
  }
}
footer .links button:hover {
  color: white;
  padding: 5px 5px;
  background-image: linear-gradient(to right, #47cbe6 0%, #ebbd36 31%, #edc71c 60%, #47cbe6 100%);
  border-radius: 10px;
  text-align: center;
  border: 0px;
  font-family: 'Amatic SC', cursive;
  cursor: pointer;
  font-size: 2rem;
  margin: 0.5rem;
}
@media (max-width: 500px) {
  footer .links button:hover {
    width: 60%;
    font-size: 1rem;
    color: black;
    margin-left: 0.5rem;
    margin-top: 1rem;
  }
}
footer .links .firstImg {
  width: 20%;
  height: auto;
  margin-left: 10rem;
  padding: 2rem;
}
@media (max-width: 768px) {
  footer .links .firstImg {
    margin-left: 2.5rem;
  }
}
@media (max-width: 500px) {
  footer .links .firstImg {
    padding: 0 0.5rem 1rem 1.5rem;
  }
}
footer .iconDiv {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 35%;
  padding: 2rem 0rem 0rem 2rem;
}
@media (max-width: 768px) {
  footer .iconDiv {
    width: 80%;
  }
}
@media (max-width: 500px) {
  footer .iconDiv {
    padding: 1rem 0rem 1rem 1rem;
  }
}
footer .iconDiv img {
  width: 40px;
  height: auto;
  padding-right: 2rem;
  display: flex;
  justify-content: flex-start;
}
@media (max-width: 500px) {
  footer .iconDiv img {
    width: 25px;
    padding-right: 3rem;
  }
}
.containerClass {
  font-family: 'Amatic SC', cursive;
  color: white;
  font-size: 2em;
  text-align: center;
  margin: 1em 0em 1em 0em;
}
.headerClass {
  background: #cf0732;
  width: 90%;
  margin: 0 auto;
  background-image: url("https://www.transparenttextures.com/patterns/notebook.png");
  border-bottom-left-radius: 55rem;
  border-bottom-right-radius: 55rem;
  border-bottom: 2px solid #47cbe6;
}
.headerClass h1 {
  color: #ebbd36;
  text-align: center;
  padding: 2rem 0 1rem 0;
  font-family: 'Amatic SC', cursive;
  font-size: 4rem;
}
.testimonialsClass {
  display: flex;
  justify-content: reverse;
  border: 1px solid white;
  width: 60em;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 4em;
}
.boxClass {
  border: 2px solid yellow;
  width: 20em;
  height: auto;
  margin: 2.5em;
  background: #cf0732;
  background-image: url("https://www.transparenttextures.com/patterns/notebook.png");
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 65rem;
  border-bottom: 2px solid #47cbe6;
  border-top-left-radius: 60rem;
  border-top-right-radius: 55rem;
  border-top: 2px solid #47cbe6;
  margin-left: 6em;
  line-height: 20px;
}
.boxClass p {
  font-family: 'Poiret One', cursive;
  color: white;
  width: 20em;
  height: auto;
}
.footer {
  background: #cf0732;
  width: 30%;
  margin: 0 auto;
  padding: 1rem 0 1rem 0;
  background-image: url("https://www.transparenttextures.com/patterns/notebook.png");
  border-top-left-radius: 70rem;
  border-top-right-radius: 70rem;
  border-top: 2px solid #47cbe6;
}
.homeLogoFooter {
  margin: 0 auto;
  width: 95%;
  display: flex;
  justify-content: center;
}
.homeLogoFooter img {
  width: 50px;
  height: auto;
}
.homeLogoFooter a {
  align-self: center;
  text-decoration: none;
}
.homeLogoFooter a:hover {
  color: white;
}
.homeLogoFooter p {
  color: #4e4e4e;
  font-size: 1.5rem;
  align-self: center;
  font-weight: bold;
  font-family: 'Amatic SC', cursive;
}
.homeLogoFooter p:hover {
  color: #47cbe6;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #4b5a69;
  background-image: url("https://www.transparenttextures.com/patterns/paper-3.png");
}
.container {
  width: 99%;
  margin: 0 auto;
}
#quickfeatures {
  margin: 0 auto;
  width: 60%;
  margin-top: 5rem;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
@media (max-width: 500px) {
  #quickfeatures {
    width: 80%;
    margin-top: 2rem;
  }
}
#quickfeatures h1 {
  font-size: 4rem;
  color: #47cbe6;
  font-family: 'Amatic SC', cursive;
}
@media (max-width: 768px) {
  #quickfeatures h1 {
    font-size: 3rem;
  }
}
@media (max-width: 500px) {
  #quickfeatures h1 {
    font-size: 2rem;
  }
}
#quickfeatures p {
  font-size: 1.5rem;
  font-family: 'Poiret One', cursive;
  color: #edc71c;
}
@media (max-width: 768px) {
  #quickfeatures p {
    font-size: 1.2rem;
  }
}
@media (max-width: 500px) {
  #quickfeatures p {
    font-size: 1rem;
  }
}
#quickfeatures .featureBox {
  display: flex;
  width: 90%;
  margin-bottom: 3rem;
  align-content: center;
  text-align: center;
}
#quickfeatures .featureBox img {
  width: 125px;
  height: auto;
  padding-right: 50px;
}
@media (max-width: 768px) {
  #quickfeatures .featureBox img {
    width: 75px;
    height: 75px;
  }
}
@media (max-width: 500px) {
  #quickfeatures .featureBox img {
    width: 60px;
    height: 60px;
    padding-right: 20px;
  }
}
.testClass {
  background: #cf0732;
  background-image: url("https://www.transparenttextures.com/patterns/notebook.png");
  border-bottom-left-radius: 55rem;
  border-bottom-right-radius: 55rem;
  border-bottom: 2px solid #edc71c;
}
.testClass a {
  text-decoration: none;
  color: white;
}
.topSection {
  margin: 0 auto;
  width: 80%;
}
.topSection .oneLineMain {
  display: flex;
  margin-top: 8rem;
  justify-content: center;
}
@media (max-width: 500px) {
  .topSection .oneLineMain {
    margin-top: 0;
    padding-top: 1.5rem;
    flex-direction: column;
  }
}
.topSection .oneLineMain .mainimage {
  width: 40%;
}
.topSection .oneLineMain img {
  width: 90%;
  height: auto;
  margin-top: 1rem;
}
@media (max-width: 500px) {
  .topSection .oneLineMain img {
    width: 250%;
  }
}
.topSection .oneLineMain .main {
  width: 40%;
  text-align: center;
}
@media (max-width: 500px) {
  .topSection .oneLineMain .main {
    width: 80%;
    margin: 0 auto;
    margin-top: 1.5rem;
  }
}
.topSection .oneLineMain .main h1 {
  font-family: 'Amatic SC', cursive;
  color: #ebbd36;
  font-size: 4rem;
  margin-left: 1.5rem;
}
@media (max-width: 500px) {
  .topSection .oneLineMain .main h1 {
    font-size: 3rem;
  }
}
.topSection .oneLineMain .main p {
  font-family: 'Poiret One', cursive;
  font-size: 1.4rem;
  margin-top: 2rem;
  color: white;
}
.topSection .oneLineMain .main span {
  font-size: 1.8em;
  color: #47cbe6;
}
.topSection .buttonDiv {
  text-align: center;
  margin-top: 1.5rem;
  padding-bottom: 5rem;
}
.topSection a {
  text-decoration: none;
  color: #4b5a69;
}
.topSection a:hover {
  color: black;
}
.topSection #writeButton {
  width: 40%;
  color: #4b5a69;
  padding: 5px 5px;
  background-image: linear-gradient(to right, #edc71c 0%, #47cbe6 31%, #47cbe6 60%, #ebbd36 100%);
  border-radius: 10px;
  text-align: center;
  border: 0px;
  font-family: 'Amatic SC', cursive;
  cursor: pointer;
  font-size: 3rem;
  margin: 0.5rem;
}
@media (max-width: 500px) {
  .topSection #writeButton {
    width: 70%;
    font-size: 2rem;
  }
}
.topSection #writeButton:hover {
  width: 40%;
  color: black;
  padding: 5px 5px;
  background-image: linear-gradient(to right, #47cbe6 0%, #edc71c 31%, #ebbd36 60%, #47cbe6 100%);
  border-radius: 10px;
  text-align: center;
  border: 0px;
  font-family: 'Amatic SC', cursive;
  cursor: pointer;
  font-size: 3rem;
  margin: 0.5rem;
}
@media (max-width: 500px) {
  .topSection #writeButton:hover {
    width: 70%;
    font-size: 2rem;
  }
}
@media (max-width: 500px) {
  .topSection #writeButton:hover {
    width: 70%;
  }
}
.buttonClass {
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 500px) {
  .buttonClass {
    border: 2px solid yellow;
    display: none;
  }
}
.buttonClass #learnMore,
.buttonClass #aboutUs {
  color: white;
  padding: 5px 5px;
  width: 6rem;
  background-image: linear-gradient(to right, #edc71c 0%, #e3613d 51%, #ebbd36 100%);
  border-radius: 10px;
  border: 0px;
  text-align: center;
  font-family: 'Amatic SC', cursive;
  cursor: pointer;
  font-size: 1.5rem;
  margin: 0.5rem;
}
.buttonClass #learnMore:hover,
.buttonClass #aboutUs:hover {
  color: white;
  padding: 5px 5px;
  width: 6rem;
  background-image: linear-gradient(to right, #47cbe6 0%, #edc71c 51%, #47cbe6 100%);
  border-radius: 10px;
  border: 0px;
  text-align: center;
  font-family: 'Amatic SC', cursive;
  cursor: pointer;
  font-size: 1.5rem;
  margin: 0.5rem;
}
