//importing all less files
@import "variable.less";
@import "reset.less";
@import "mixins.less";

body {
    background-color:@accentgray;
}

.separation{
    width: 80%;
    margin: 0 auto;
    img{
        padding-left: 60px;
    }
}

.quickfeatures {
    margin: 0 auto;
    width: 60%;
    margin-top: 5rem;

    h1{
        font-size: 4rem;
        color: @accentblue;
        font-family: @mainfont;

    }

    p{
        font-size: 1.5rem;
        font-family: @secondaryfont;
        color: @accentyellow;
    }

    .icon img{
        width: 125px;
        height: auto;
    }

    .timefeature{
        display:flex;
        justify-content: space-around;
        margin-bottom: 3rem;
    }

    .timeabout {
        text-align: center;
        width: 60%;
    }

    .progressfeature{
        display:flex;
        justify-content: space-around;
        margin-bottom: 3rem;
    }

    .progressabout {
        text-align: center;
    }

    .memoryfeature{
        display:flex;
        justify-content: space-around;
        margin-bottom: 3rem;
    }

    .memoryabout {
        text-align: center;
    }


}

.testClass {
    background: @primaryred;
    background-image: url("https://www.transparenttextures.com/patterns/notebook.png");
    border-bottom-left-radius:55rem;
    border-bottom-right-radius:55rem;
    #signUpButton{
        .buttondesign();
    }
}

.container {
    margin: 0 auto;
    width: 80%;

    .onelinemain {
        display: flex;
        margin-top: 8rem;
        justify-content: center;

        .mainimage {
            width: 40%;
        }
        
        img{
            width: 90%;
            height: auto;
            margin-top: 1rem;
        }

        .main{
            width: 40%;
            text-align: center;

            h1{
                font-family: @mainfont;
                color: @accentyellow2;
                font-size: 4rem;
                margin-left: 1.5rem;
            }

            p {
                font-family: @secondaryfont;
                font-size: 1.2rem;
                margin-top: 2rem;
                color: white;
            }
        }
    }
.buttonDiv{
    text-align:center;
    margin-top:1.5rem;
    padding-bottom:5rem;
    #writeButton {
         .writeButton();
    }
}   
   
}

.buttonClass {
    display:flex;
    justify-content:flex-end;
}

span {
    font-size:7rem;
    color: @accentblue;
}