//colors for the page

@primaryred: #cf0732;
@accentyellow: #edc71c;
@accentyellow2: #ebbd36;
@accentblue: #47cbe6;
@accentgray: #4b5a69;
@accentorange: #e3613d;

//fonts
@mainfont:'Amatic SC', cursive; 
@secondaryfont:'Poiret One', cursive;

//media queries

@tablet: ~"(max-width: 768px)";
@phone: ~"(max-width: 500px)";